.global-header {

    text-align: center;
    background-color: rgb(41, 44, 47);    
    height: 90px;
    
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;   
    margin-bottom: 0px;
}

.main-header h1{

    text-align: center;  
    width: 100%;    

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;   
    margin-bottom: 0px;
}

#mainheader_id {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: rgb(141, 144, 147);
    margin-top: 0px;       
}

/*BUTTONS IN HEADER
-------------------*/
.button {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-decoration: none;

    margin-left: 90px;
    margin-right: 90px;    
}
.button-group a {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
}
.button-group a:hover {
    color: rgba(0, 0, 0, 0.4);
    background-color: transparent;
}
.button-group p {
    height: 10px;
}

.button-group {
    float: none;
    margin: 0 0 0 0px;
}

/*BUTTONS IN HEADER
-------------------*/